<div class="container-fluid">
    <div class="jumbotron text-center">
        <h1>Power Rank</h1>
        <h3>You can Power Rank shit</h3>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>
    <div class="row text-center">
      <div ng-repeat="genre in view.genres">
        <div class="col-xs-6 col-md-4">
            <a href="#" class="thumbnail">
                <h2>{{genre.name}}</h2>
            </a>
        </div>
      </div>
    </div>


</div>
